<main class="flex-grow-1">
  <div class="container my-3">

    <h1 class="text-center"><%= @user.username %>'s profile</h1>
    
    <%= gravatar_for @user, size: 200 %>

    <% if logged_in? && @user == current_user %>
      <div class="text-center mt-4">
        <%= link_to "Edit your profile", edit_user_path(@user), class: "btn btn-warning btn-sm" %>
      </div>
    <% end %>

    <h3 class="text-center mt-4">Articles</h3>


    <div class="my-5 text-center">
      <%= will_paginate @articles, :container => false, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination pagination justify-content-center), previous_label: '&laquo;', next_label: '&raquo;' %>
      <div class="page_info small">
        <%= page_entries_info @articles %>
      </div>
    </div>

    <%= render "articles/article" %>

    <div class="my-5 text-center">
      <%= will_paginate @articles, :container => false, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination pagination justify-content-center), previous_label: '&laquo;', next_label: '&raquo;' %>
      <div class="page_info small">
        <%= page_entries_info @articles %>
      </div>
    </div>
    
  </div>
</main>
<%= render "layouts/footer"%>
